

body {
    background-image: url(images/screen-choose.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0d111d;
    height: 100vh;
} 
.character1{
    position: absolute;
    left: 57%;
    top: 40%;
}
.ch2{
    position: absolute;
    left: 33%;
    top: 40%;
}

.chselect{
    position: absolute;
    left: 36%;
    top: 30%;
    display: block;

}
.chselect2{
    position: absolute;
    left: 60.4%;
    top: 30%;
    display:block;

}
#select1{
    position: absolute;
    top: 30%;
    left: 40%;
}
#select2{
    position: absolute;
    top: 39.1%;
    left: 30%;
}

#attackp1 {
    display: block;
    position: absolute;
    left: 30.9%;
    top: 69.3%;
}

#healp1 {
    display: block;
    position: absolute;
    left: 34.34%;
    top: 69.30%;
}


#yeildp1 {

    position: absolute;
    left: 37.4%;
    top: 69.30%;
}

#bowp1 {
    position: absolute;
    left: 41%;
    top: 69.30%;
}


#attackp2 {
    display: block;
    position: absolute;
    left:55.91%;
    top: 69.30%;
}

#healp2 {
    display: block;
    position: absolute;
    left: 59.34%;
    top: 69.30%;
}


#yeildp2 {
    display: block;
    position: absolute;
    left: 62.34%;
    top: 69.30%;
}

#bowp2 {
    position: absolute;
    left: 66%;
    top: 69.30%;
}

#start {
    position: absolute;
    left: 48.5%;
    top: 81%;
}


#heal1 {
    display: none;
    position: absolute;
    left: 34%;
    top: 65%;
}

#heal2 {
    display: none;
    position: absolute;
    left: 58%;
    top: 65%;

}

#attack1 {
    display: none;
    position: absolute;
    left: 38.5%;
    top: 65%;
}

#attack2 {
    display: none;
    position: absolute;
    left: 62.5%;
    top: 65%;
}

#visual {
    color:white;
}

#player1def {
    display: none;
    position: absolute;
    left: 13%;
    top: 19%;

}

#player2def {
    display: none;
    position: absolute;
    left: 45%;
    top: 19%;

}

#healther1 {
    position: absolute;
    top: 30%;
    left: 36.5%;
    color:white;
    font-size: 30px;
}

#healther2 {
    position: absolute;
    top: 30%;
    left: 61%;
    color:white;
    font-size: 30px;
}