

body {
    background-image: url(images/screen-choose.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0d111d;
    height: 100vh;
} 
.character1{
    position: absolute;
    left: 800px;
    top: 280px;
}
.ch2{
    position: absolute;
    left: 400px;
    top: 280px;
}

.chselect{
    position: absolute;
    left: 440px;
    top: 200px;
    display: block;

}
.chselect2{
    position: absolute;
    left: 840px;
    top: 200px;
    display:block;

}
#select1{
    position: absolute;
    top: 450px;
    left: 450px;
}
#select2{
    position: absolute;
    top: 450px;
    left: 850px;
}

#attackp1 {
    display: block;
    position: absolute;
    left: 350px;
    top: 450px;
}

#healp1 {
    display: block;
    position: absolute;
    left: 400px;
    top: 450px;
}
}

#yeildp1 {
    display: block;
    position: absolute;
    left: 445px;
    top: 450px;
}

#bowp1 {
    position: absolute;
    left: 495px;
    top: 450px;
}


#heal1 {
    display: none;
}

#heal2 {
    display: none;

}

#attack1 {
    display: none;
}

#attack2 {
    display: none;
}