

body {
    background-image: url(images/screen-choose.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #0d111d;
    height: 100vh;
} 
.character1{
    position: absolute;
    left: 800px;
    top: 280px;
}
.ch2{
    position: absolute;
    left: 400px;
    top: 280px;
}

.chselect{
    position: absolute;
    left: 440px;
    top: 200px;
    display: block;

}
.chselect2{
    position: absolute;
    left: 840px;
    top: 200px;
    display:block;

}
#select1{
    position: absolute;
    top: 450px;
    left: 450px;
}
#select2{
    position: absolute;
    top: 450px;
    left: 850px;
}

#attackp1 {
    display: block;
    position: absolute;
    left: 350px;
    top: 450px;
}

#healp1 {
    display: block;
    position: absolute;
    left: 400px;
    top: 450px;
}


#yeildp1 {

    position: absolute;
    left: 445px;
    top: 450px;
}

#bowp1 {
    position: absolute;
    left: 495px;
    top: 450px;
}


#attackp2 {
    display: block;
    position: absolute;
    left: 700px;
    top: 450px;
}

#healp2 {
    display: block;
    position: absolute;
    left: 750px;
    top: 450px;
}


#yeildp2 {
    display: block;
    position: absolute;
    left: 800px;
    top: 450px;
}

#bowp2 {
    position: absolute;
    left: 850px;
    top: 450px;
}

#start {
    position: absolute;
    left: 625px;
    top: 525px;
}


#heal1 {
    display: none;
    position: absolute;
    left: 500px;
    top: 525px;
}

#heal2 {
    display: none;
    position: absolute;
    left: 650px;
    top: 525px;

}

#attack1 {
    display: none;
    position: absolute;
    left: 550px;
    top: 525px;
}

#attack2 {
    display: none;
    position: absolute;
    left: 700px;
    top: 525px;
}

#visual {
    color:white;
}

#player1def {
    display: none;
    background-image: url("images/defeateplayer1.png");
}